/*COLOR PALETTE
#F5F5F5  white smoke
#0F2645  navy
#C2C2C2  grey
#FFFFFF  white
#0079FA  Egyptian blue
green and brown in photos
*/
/*GOOGLE FONTS
font-family: 'Alfa Slab One', cursive;
font-family: 'Prata', serif;
*/


.parallax-container {
 height: "250vh";
  
  }


  nav {
    
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .05em;
    cursor: pointer;
    
  }

  #logo {
    display: inline-block;
    height: 55px;
    width: 55px;
    vertical-align: middle;
   
  }

  h1, h2 {
    font-family: 'Prata', serif;
  }
 
  .h100 {
    height: 90%;
  }
  
  
  .overlay,
  .parallax-text {
    /*font-size: 80px;*/
    
    letter-spacing: .11em;
    font-size: 2.0em;
    text-rendering: optimizeLegibility;
   
  }
  
  
  
  
  
  
  @media (min-width: 993px) {
    
    .overlay,
    .parallax-text {
      /*font-size: 80px;*/
      
      letter-spacing: .11em;
      font-size: 5em;
      text-rendering: optimizeLegibility;
    }
  
  }
  
  .overlay {
    width: 100%;
  }
  
  
  

  


 
  

footer, .btn { 
  background-color: #0F2645 !important;  
  
}
