body {
  background-color: #feffe4; 
}


#intro {
  background-image: url("/assets/images/webdeveloper.png");
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
    position: relative;
    
  }

  #mainnav {
    background: rgb(0,0,0,0.7) !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .05em;
  }

  #name {
      color: white;
  }

  #mainnav #menu {
    display: none;
    padding: .8em 1.5em;
    cursor: pointer;
  }
  
  #mainnav ul {
    display: block;
    margin: 0;
    text-align: center;
  }
  
  #mainnav ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
  }
  
  #mainnav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: .9em 1.5em .8em 1.5em;
  }
  
  #mainnav ul li a:hover {
    color: #000;
    background: #aaa;
  }

  #about {
    background-color: #feffe4 !important;
  }

.footer { /*torn paper border*/
    height:100px;
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-size:cover;
    opacity:0.8;
    border-style: solid; 
    border-width: 40px 40px 40px; 
       -moz-border-image: url('http://news.unchealthcare.org/images/backgrounds/paper.jpg') 80 80 80 repeat; 
    -webkit-border-image: url('http://news.unchealthcare.org/images/backgrounds/paper.jpg') 80 80 80 repeat; 
         -o-border-image: url('http://news.unchealthcare.org/images/backgrounds/paper.jpg') 80 80 80 repeat; 
            border-image: url('http://news.unchealthcare.org/images/backgrounds/paper.jpg') 80 80 80 repeat;
}

.overlay {
    background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent);
}